<div *ngIf="boisson">
    <div>
      <label>Name: </label> {{boisson.name}}
    </div>
    <div>
      <label>Age: </label> {{boisson.type}}
    </div>
    <div>
      <label>Price: </label> {{boisson.price}}
    </div>
    <div>
        <label>Quantity: </label> {{boisson.quantite}}
      </div>
   
    <span class="button is-small btn-primary"  (click)='updateBoisson()'>Update</span>
   
   
    <span class="button is-small btn-danger" (click)='deleteBoisson()'>Delete</span>
   
    <hr />
  </div>